.config/caja/
.config/dconf/
.config/go/
.config/xsettingsd/
.config/pulse/
.config/gh/
.config/GIMP/
.config/REAPER/
.config/flutter/
.config/fvm/
.config/godot/
.config/yabridgectl
.config/gtk-3.0/
.config/gtk-4.0/
.config/qBittorrent/
.config/torbrowser/
.config/QtProject.conf

