#window {
    margin: 0px;
    background-color: #282828;
    border-radius: 10px;
    border: 2px solid #b8bb26;
    background-color: rgba(28, 28, 28, 0.9);
    font-family: "JetBrainsMono NF";
    font-size: 16;
}

#input {
    margin: 5px;
    border: none;
    color: #fbdbb2;
    background-color: #504945;
    border-radius: 10px;
}

#inner-box {
    margin: 5px;
    border: none;
}
#outer-box {
    margin: 10px;
    border: none;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #ebdbb2;
} 

#entry:selected {
    background-color: #504945;
    border-radius: 10px;
    outline: none;
}

#entry:selected * {
    background-color: #504945;
    border-radius: 10px;
    outline: none;
}
